<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="Xunit" />
    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" listener="Logging.SpecFlowTestListener, SpecFlowWebDriver"/>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- To create build for new environment:
    1. Add build in configuration manager
    2. Create new config file with the same name as build (it must contain word "SpecFlow") -->
  </specFlow>
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="BaseUrl" value="http://www.wykop.pl/" />
    <add key="TimeOut" value="20" />
    <add key="Browser" value="ie" />
    <add key="RemoteTestRun" value="false"/>
    <add key="xunit.parallelizeAssembly" value="true"/>
    <add key="xunit.maxParallelThreads" value="3"/>
    <add key="xunit.methodDisplay" value="method"/>
    <add key="ScreenshotsPath" value="screenshots\"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internallogfile="c:\temp\nlog-internal.log" >
    <variable name="fileName" value="${activityid}-file.txt"/>
    <targets>
      <target name="console" xsi:type="Console" layout ="#${threadid}: ${message}" />
      <target name="DebugLog" xsi:type="File" fileName="${basedir}\screenshots\${threadid}-DebugLog.txt" layout ="${message}"/>
      <target name="SpecFlowLog" xsi:type="File" fileName="${basedir}\screenshots\${threadid}-SpecFlowLog.txt" layout ="${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Debug" writeTo="DebugLog" />
      <logger name="*" levels="Trace" writeTo="SpecFlowLog" />
    </rules>
  </nlog>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="nlog" type="Logging.NLogDebugListener, SpecFlowWebDriver"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>